div.home_adopt{
    border:1px solid black;
    width: 1045px;
    height: 865px;
    background-color: #ECDFC3;
    margin-left: 360px;
    position: relative;
    font-size: 0;
}
div.home_title{
    border:1px solid #5E454B;
    width: 160px;
    height: 45px;
    background-color: #E7F5DE;
    border-radius: 23px;
    text-align: center;
    color:#5E454B;
    font-size: 25px;
    position: absolute;
    top:79px;
    left:37px;
}

div.find{
    /* border:1px solid black; */
    width: 24px;
    height: 24px;
    background-image: url(../image/search.png);
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top:85px;
    left:205px;
    
}


div.find div.find_link{
    border:1px solid #5E454B;
    width: 130px;
    height: 45px;
    background-color: #E7F5DE;
    border-radius: 3px;
    position: absolute;
    top:0px;
    left:20px;
    text-align: center;
    font-size: 25px;
    display:none;
}
div.find:hover div.find_link{
    display:inline-block;
}

section.animal_flex{
    border: 1px solid black;
    width: 1045px;
    display: flex;
    flex-wrap:wrap;
    position: absolute;
    top:170px;
}
section.animal_flex div.adopt_select{
    width:300px;
    height: 199px;
    border:1px solid #3EB3B2;
    border-radius:26px;
    overflow: hidden;
    position: relative;
    z-index: 0;
    margin: 23px;
}
div.adopt_select a.adopt_pick{
    display: block;
    font-size: 0;
}
div.adopt_select a.adopt_pick >img{
    max-width: 100%;
}

div.adopt_select div.select_word{
    border:1px solid black;
    width: 300px;
    height: 53px;
    background-color: #E7F5DE;
    color:#5E454B;
    text-align: center;
    z-index: 1;
    position: absolute;
    bottom: 0;
    font-size: 16px;
    display: none;
}

div.adopt_select:hover div.select_word{
    display: inline-block;
}
