* {
    box-sizing: border-box;
  }
  body{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  nav.nav_on{
    order:1;
  }
  main{
      order:2;
  }
  footer{
      order: 3;
  }
  main div.bread >span{
    color: #5E454B;
  }