main{
    width: 1200px;
    /* height: 1700px; */
    margin: 0 auto;
    /* border: 1px solid black; */
    position: relative;
    background-color: #ECDFC3;
}

main div.bread{
    height: 21px;
    font-size: 16px;
    color:#3EB3B2;
    display: inline-block;
    position: absolute;
    top:20px;
    left:5px;
}

main div.bread >a {
    font-size: 16px;
    color:#3EB3B2;
    text-decoration: none;
}
main article.reserve_area{
    width: 1070px;
    height: 980px;
    background-color: white;
    border: 1px solid #E7F5DE;
    border-radius: 28px;
    margin: 0 auto;
    margin-top:100px;
    position: relative;
}
article.reserve_area section.animal{
width: 415px;
height: 575px;
border-radius: 28px;
border: 1px solid #3EB3B2;
background-color: #E7F5DE;
display: inline-block;
position: absolute;
top: 30px;
left: 30px;
}

main section.animal > h1,
main section.form div.show> h1,
main section.condition> h1

{
    /* border: 1px solid black; */
    color: #5E454B;
    font-size: 28px;
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

section.animal div.photo{
    width: 365px;
    height:230px;
    /* border: 1px solid #3EB3B2; */
    border-radius: 28px;
    overflow: hidden;
    margin: 25px;
    display: inline-block;
}
section.animal div.photo >img{
    max-width: 100%;
}



section.animal div.info{
    width: 280px;
    height: 215px;
    display: inline-block;
    line-height: 1.8;
    font-size: 21px;
    color: #3EB3B2;
    position: absolute;
    bottom:34px;
    left: 30px;
}

section.form{
    width: 555px;
    height: 575px;
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 30px;
    right: 30px;
}
section.form div.cover_on{
    width: 555px;
    height: 575px;
    background-color: white;
    font-size: 16px;
    text-align: center;
    z-index: 1;
    position: absolute;
    top:0;
    left: 0;
    border-radius: 10px;
    display: inline-block;
    border: 2px solid #3EB3B2;
    color: #5E454B;
    line-height: 2;
}
section.form div.cover_on >h2{
    margin-top: 150px;
}
section.form div.cover_on >hr,
section.form div.show >hr,
{
    width: 430px;
    background-color: #3EB3B2;
}


section.form div.show{
    width: 555px;
    height: 575px;
    background-color: white;
    font-size: 16px;
   
    z-index: 0;
    position: absolute;
    top:0;
    left: 0;
    display: inline-block;
    color: #5E454B;
    /* border: 1px solid black; */
}

div.show div.table{
    width:450px;
    line-height: 3;
    /* border: 1px solid black; */
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 18px;
}
div.table label.question{
    width:150px;
    /* border: 1px solid black; */
    text-align: right;
    display: inline-block;
}
div.table input[type="text"],
div.table input[type="date"],
div.table select {
    width:200px;
    height: 30px;
    display: inline-block;
    font-size: 18px;
}


div.show div.check{
    margin-top: 50px;
    margin-left: 150px;
}



button.reserve{
    width: 163px;
    height: 73px;
    border-radius: 35px;
    font-size: 25px;
    text-align: center;
    background-color: #5E454B;
    position: absolute;
    bottom:0px;
    right: 16px;
    color: #ECDFC3;
}
button.reserve:hover{
    background-color: #3EB3B2;
    border: 1px solid #3EB3B2;
    color: #5E454B;
}

section.condition{
    width: 1000px;
    height: 340px;
    border: 1px solid #3EB3B2;
    border-radius: 33px;
    padding: 20px;
    margin: 20px;
    position: absolute;
    bottom: 0px;
    left: 5px;
    display: inline-block;
    color: #5E454B;
}
section.condition div{
    width: 450px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 10px;
}
section.condition div ul{
    line-height: 1.8;
}

article.step{
    width: 1100px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}
article.step >h1{
    /* border: 1px solid black; */
    color: #5E454B;
    font-size: 28px;
    margin: 0;
    margin-top: 10px;
}
article.step >hr{
    background-color: #3EB3B2;
}

article.step section.up_flex,
article.step section.down_flex{
    width: 1000px;
    height: 250px;
    display: flex;
    /* border: 1px solid black; */
    display: flex;
    justify-content:space-between ;
    margin-top: 50px;
    margin-bottom: 50px;
}

div.number{
    width: 300px;
    height: 230px;
    /* border: 1px solid red; */
    position: relative;
    color: #5E454B;
    
}
div.number div.triangle{
    display: inline-block;
    border-left: 40px solid #3EB3B2;
    border-right: 0px solid green;
    border-top: 35px solid transparent;
    border-bottom: 35px solid transparent;
    width:0px;
    height:0px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
  }

  div.triangle span.count{
      font-size: 28px;
      position: absolute;
      z-index: 3;
      top: 50%;
      transform: translate(-50%,-50%);
      left:-25px;
      
  }

  section.up_flex div.word,
  section.down_flex div.word{
      width: 300px;
      height: 35px;
      z-index: 1;
      background-color: white;
      display: inline-block;
      text-align: center;
      color: #5E454B;
      padding: 5px;
      position: absolute;
      bottom: 15px;
      right:0;
  }
  section.up_flex div.photo,
  section.down_flex div.photo{
      width: 300px;
      height: 180px;
      display: inline-block;
      /* border: 1px solid black; */
      position: absolute;
      top: 0;
      right:0;
      overflow: hidden;
  }

  section.up_flex div.photo >img,
  section.down_flex div.photo >img{
    min-width: 100%;
  }

  article.step section.up_flex{
    margin-right: 100px;
    
  }
article.step section.down_flex{
    margin-left:100px;

}